body {
    background: #f4f4f4;
    font-family: arial, sans-serif;
    line-height: 1.5em; /* 행간 */
}

#container {
    border: 1px #ccc solid; /* solid 실선 border 테두리 */
    margin: 0 10px 0 10px; /* 12시부터 시계방향 */
    width: 800px;
    margin: 30px auto;
    overflow: hidden; /* scroll, auto 도 있음 */
}

.highlight {
    color: red;
    font-weight: bold;
    font-size: 30px;
}

.left-side {
    float: left;
    width: 50%;
}
