h1 {
    color: red;
    text-align: center;
}

body {
    color: red;
    height: 50vh;
    background-color: #000;
    background-image: url('https://cdn.discordapp.com/attachments/1083310003055767642/1111161877578383381/background.jpg');
    background-position: center center;
}
